<app-spinner *ngIf="loading"></app-spinner>
<mat-grid-list cols="4" rowHeight="100px" *ngIf="!loading">
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="3">

    <mat-form-field class="select">
      <mat-select [(value)]="you" placeholder="You">
        <mat-option *ngFor="let airport of airports" [value]="airport.iataCode">
          {{airport.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="3">

    <mat-form-field class="select">
      <mat-select [(value)]="friend" placeholder="Friend">
        <mat-option *ngFor="let airport of airports" [value]="airport.iataCode">
          {{airport.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="4"
    [rowspan]="1">

    <button class="card_travel btn-large" [ngClass]="{'disabled': !canSearch()}" (click)="navigate()">
      <i class="material-icons right">card_travel</i>
      Search!
    </button>

  </mat-grid-tile>

</mat-grid-list>

